
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(243, 237, 237);
    font-family: sans-serif;
}

#page-wrapper {
    position: relative;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}

header {
    top: 0;
    min-height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    padding: 0 20px;
    background-color: rgb(243, 237, 237);
}

.image-div {
    width: 60vw;
}

.image-div > img {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 50px;
    width: 100%;
    height: 100%;
    margin-left: 20px;
}

nav {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 0 50px;
}

nav > ul {
    width: 35vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

nav li {
    padding-bottom: 5px;
}

.container{
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

#form-div{
    height: 200px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#form-div > h2 {
    margin-bottom: 10px;
}

#email {
    width: 100%;
    padding: 5px;
    max-width: 270px;
}

#submit {
    width: 50%;
    border: none;
    border-radius: 3px;
    background-color: rgb(214, 214, 5);
    height: 30px;
    text-transform: uppercase;
    font-size: 16px;
    margin-top: 15px;
}

#submit:hover{
    background-color: yellow;
    color: black;
    transform: scale(1.02);
}

#features {
    margin-top: 30px;
}

.feats {
    display: flex;
}

#features .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 125px;
    width: 20vw;
    color: orange;
}

#features .desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80vw;
    height: 125px;
    padding: 5px;
}

#how-it-works{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px
}

#how-it-works > iframe {
    width: 560px;
    max-width: 100%;
}

#pricing {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 50px auto;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 3px;
    margin: 10px;
    width: calc(100% / 3);
}

.item > .subhead {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    flex-direction: row;
    justify-content: center;
    background-color: lightsteelblue;
    color: black;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}

.item > h2 {
    margin: 10px 0;
    width: 100%;
}

.item > ul {
    margin: 10px 0;
    width: 100%;
    text-align: center;
}

.item > ul > li {
    padding-bottom: 10px;
}

.item > input {
    width: 40%;
    height: 35px;
    background-color: rgb(214, 214, 5);
    color: black;
    border-radius: 3px;
    border: none;
    margin: 15px 0;
    padding: 5px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
}

.item > input:hover {
    background-color: yellow;
    color: black;
    transform: scale(1.02)
}

footer {
    background-color: lightgray;
    padding: 20px;
    margin-top: 30px;
}

footer > ul {
    display: flex;
    justify-content: flex-end;
}

footer > ul > li {
    padding: 0 10px;
}

footer > span {
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
    font-size: 13px;
    padding: 0 10px;
    color: rgb(47, 47, 48);
}